SUPABASE_URL='https://ytjnhumbxslmzwucvdvr.supabase.co'
SUPABASE_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0am5odW1ieHNsbXp3dWN2ZHZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDk3Mzk5NDIsImV4cCI6MjAyNTMxNTk0Mn0.O08VhxUStahbtufYTHegH2zUKyOTQgv2cIPZ1wTzQHo'